/*

Template 2081 Solution

http://www.tooplate.com/view/2081-solution

*/

body
	{
		background: #f0c5a8;
        font-family: monospace;
		font-weight: 400;
        position: relative;
	}

h2, h3, h4
    {
        font-weight: bold;
    }

p
    {
        line-height: 26px;
    }

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

/* start all section */
#game, #divider, #about, #teamlead, #art, #manager, #ui, #code, #qa, #design,
 #pricing, #portfolio, #client, #contact, #team
    {
        padding-top: 130px;
        padding-bottom: 100px;
        position: relative;
    }
/* end all section */

/* start nagivation */
.navbar-default
    {
        background: #f0c5a8;
        border: none;
        box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
        margin: 0 !important;
        padding: 0;
    }
.navbar-default .navbar-brand
    {
        padding-top: 4px;
        padding-bottom: 4px;
    }
.navbar-default .navbar-nav li a
    {
        font-size: 18px;
        font-weight: bold;
        line-height: 50px;
    }
.navbar-default .navbar-nav li a:hover
    {
        color: ##8d7768;
    }
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: ##8d7768;
  background-color: transparent;
}
.navbar-default .navbar-toggle
    {
        border: none;
        padding-top: 16px;
    }
.navbar-default .navbar-toggle .icon-bar
    {
        background: #fff;
        border-color: transparent;
    }
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: transparent }
/* end navigation */

/* start home */        
#home
	{
      padding-top: 130px;
	}
.flexslider {
  margin: 0 0 60px;
  background: #f0c5a8;
  padding: 0;
  position: relative;
  zoom: 1;
  background-color: #f0c5a8;
  overflow: hidden;
  margin: 0;
}
.flexslider .slides {
  padding: 0;
  zoom: 1;
}
.flexslider .slides img {
  width: 100%;
  min-width: 648px;
  min-height: 270px;
  display: block;
}
.flexslider .slides > li {
  display: none;  
  padding: 0;
  position: relative;
  -webkit-backface-visibility: hidden;
}
.flexslider img {
  position: relative;
  width: 100%;
}
.slider-caption {
  color:white;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  z-index: 7;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.flexslider .btn
{
    background: #f0c5a8;
    border-radius: 0;
    border: 2px solid transparent;
    color: #f0c5a8;
    font-weight: bold;
    margin: 40px 0 0 0;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    height: 50px;
    width: 250px;
    padding: 12px 10px 10px 10px;
}
.flexslider .btn:hover,
.flexslider .btn:focus {
    background: #fff;
    color: #f0c5a8;
    border: 2px solid transparent;
}

/* end home */

/* start service */
#game .media
    {
        padding: 10px;
    }
#game .media .fa
    {
        color: #202020;
        font-size: 50px;
        margin-right: 20px;
    }
#game .media .media-heading
    {
        border-bottom: 2px solid #202020;
        font-weight: 600;
        font-size: 25px;
        padding-bottom: 10px;
    }
/* end service */

/* start divider */
#divider
    {
        background-size: cover;
        background-repeat: no-repeat;
        color: #f0c5a8;
    }
#divider h2
    {
        font-size: 40px;
    }
#divider strong
    {
        color: #f0c5a8;
    }
#divider h3
    {
        padding-bottom: 30px;
    }
/* end divider */

/* start about */
#about h3
    {
        color: #000000;
        font-size: 40px;
        padding-bottom: 10px;
    }
#about h4
    {
        padding-bottom: 10px;
    }
#about .progress
    {
        border-radius: 4px;
        background: #a8d3f0;
        height: 6px;
    }
#about .progress .progress-bar-danger
    {
        background: #f0c5a8;
    }
#about .text-top
    {
        padding-top: 50px;
    }
#about span
    {
        display: block;
        padding-bottom: 10px;
    }
#about small
    {
        font-weight: bold;
        padding-left: 200px;
    }
/* end about */

/* start team */
#art
    {
        border-top: 1px solid #f0c5a8;
        border-bottom: 1px solid #f0c5a8;
        text-align: center;
    }
#art h2
    {
        padding-bottom: 30px;
    }
#art img
    {
        border: 1px solid #f6f6f6;
        display: inline-block;
        padding: 50px;
        transition: all 0.4s ease-in;
    }
#art img:hover
    {
        opacity: 0.4;
        cursor: pointer;
    }
#art h3
    {
        color: #000000;
        padding-bottom: 10px;
    }
#art h4
    {
        font-size: 14px;
        padding-top: 20px;
        line-height: 0px;
    }
	
#teamleader
    {
        border-top: 1px solid #f0c5a8;
        border-bottom: 1px solid #f0c5a8;
        text-align: center;
    }
#teamleader h2
    {
        padding-bottom: 30px;
    }
#teamleader img
    {
        border: 1px solid #f6f6f6;
        display: inline-block;
        padding: 50px;
        transition: all 0.4s ease-in;
    }
#teamleader img:hover
    {
        opacity: 0.4;
        cursor: pointer;
    }
#teamleader h3
    {
        color: #000000;
        padding-bottom: 10px;
    }
#teamleader h4
    {
        font-size: 14px;
        padding-top: 20px;
        line-height: 0px;
    }
	
#team
    {
        text-align: center;
    }
#team h2
    {
        padding-bottom: 30px;
	tex-align: center;
    }
#team img
    {
        display: inline-block;
	border: 1px solid #fff;
        transition: all 0.4s ease-in;
    }
#team img:hover
    {
        opacity: 0.5;
        cursor: pointer;
    }
#team h3
    {
        color: #000000;
        padding-bottom: 10px;
    }
#team h4
    {
        font-size: 14px;
        padding-top: 20px;
        line-height: 0px;
    }

#manager
    {
        border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        text-align: center;
    }
#manager h2
    {
        padding-bottom: 30px;
    }
#manager img
    {
        border: 1px solid #f6f6f6;
        display: inline-block;
        padding: 50px;
        transition: all 0.4s ease-in;
    }
#manager img:hover
    {
        opacity: 0.4;
        cursor: pointer;
    }
#manager h3
    {
        color: #000000;
        padding-bottom: 10px;
    }
#manager h4
    {
        font-size: 14px;
        padding-top: 20px;
        line-height: 0px;
    }

#ui
    {
        border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
    }
#ui h2
    {
        padding-bottom: 30px;
    }
#ui img
    {
        border: 1px solid #f6f6f6;
        display: inline-block;
        padding: 50px;
        transition: all 0.4s ease-in;
    }
#ui img:hover
    {
        opacity: 0.4;
        cursor: pointer;
    }
#ui h3
    {
        color: #000000;
        padding-bottom: 10px;
    }
#ui h4
    {
        font-size: 14px;
        padding-top: 20px;
        line-height: 0px;
    }
	
#qa
    {
        border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        text-align: center;
    }
#qa h2
    {
        padding-bottom: 30px;
    }
#qa img
    {
        border: 1px solid #f6f6f6;
        display: inline-block;
        padding: 50px;
        transition: all 0.4s ease-in;
    }
#qa img:hover
    {
        opacity: 0.4;
        cursor: pointer;
    }
#qa h3
    {
        color: #000000;
        padding-bottom: 10px;
    }
#qa h4
    {
        font-size: 14px;
        padding-top: 20px;
        line-height: 0px;
    }
	
#design
    {
        border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        text-align: center;
    }
#design h2
    {
        padding-bottom: 30px;
    }
#design img
    {
        border: 1px solid #f0c5a8;
        display: inline-block;
        padding: 50px;
        transition: all 0.4s ease-in;
    }
#design img:hover
    {
        opacity: 0.4;
        cursor: pointer;
    }
#design h3
    {
        color: #000000;
        padding-bottom: 10px;
    }
#design h4
    {
        font-size: 14px;
        padding-top: 20px;
        line-height: 0px;
    }
	
#code
    {
        border-top: 1px solid #f6f6f6;
        border-bottom: 1px solid #f6f6f6;
        text-align: center;
    }
#code h2
    {
        padding-bottom: 30px;
    }
#code img
    {
        border: 1px solid #f6f6f6;
        display: inline-block;
        padding: 50px;
        transition: all 0.4s ease-in;
    }
#code img:hover
    {
        opacity: 0.4;
        cursor: pointer;
    }
#code h3
    {
        color: #000000;
        padding-bottom: 10px;
    }
#code h4
    {
        font-size: 14px;
        padding-top: 20px;
        line-height: 0px;
    }
/* end team */

/*filter css*/
.filter-wrapper {
    width: 100%;
    margin: 0 0 24px 0;
    overflow: hidden;
    text-align: center;
}
.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}
.filter-wrapper li a {
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #999;
    padding: 8px 17px;
    display: block;
    text-decoration: none;
}
/*isotope box css*/
.iso-box-section {
    width: 100%;
    margin: 0 0 24px 0;
}
.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}
.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 20px;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.fluid-img {
    width: 100%;
    display: block;
    height: auto;
}
/* end portfolio */

/* start contact */
#contact

.flexslider {
  background: url("https://raw.githubusercontent.com/CheckTheDog/Fantasy-Brawl/gh-pages/docs/contact.png");
}
    {
        background-image: url("https://raw.githubusercontent.com/CheckTheDog/Fantasy-Brawl/gh-pages/docs/contact.png");
	background-position: 0px 0px;
        background-size: cover;
        background-repeat: no-repeat;
        color: #000000;
    }
#contact h3
    {
        font-weight: bold;
        padding-bottom: 20px;
    }
#contact .fa
    {
        color: #fff;
        font-size: 18px;
        padding-bottom: 14px;
    }
#contact .form-control
    {
        background: #fff;
        border-radius: 4px;
        box-shadow: none;
        margin-bottom: 20px;
        transition: all 0.4s ease-in-out;
    }
#contact input
    {
        height: 50px;
    }
#contact input[type="submit"]
    {
        color: #fff;
        font-weight: bold;
        margin-bottom: 80px;
    }
#contact input[type="submit"]:hover
    {
        background: #f0c5a8;
    }
 #contact .form-control::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
#contact .form-control:-ms-input-placeholder {
  color: #fff;
}
#contact .form-control::-webkit-input-placeholder {
  color: #fff;
}
/* end contact */

/* start footer */
footer
    {
        padding-top: 40px;
        padding-bottom: 20px;
    }
footer p
    {
        line-height: 16px;
    }
footer .social-icon
    {
        top: 0px;
    }
/* end footer */

.too-icon {
	padding: 10px;
}

/* start social icon */
.social-icon
    {
        position: relative;
        padding: 0;
        margin: 0;
        top: 20px;
    }
.social-icon li
    {
        display: inline-block;
        list-style: none;
    }
.social-icon li a
    {
        color: #000000;
        font-size: 16px;
        text-decoration: none;
        transition: all 0.4s ease-in-out;
        width: 40px;
        height: 40px;
        line-height: 40px;
        text-align: center;
    }
.social-icon li a:hover
    {
        background: #f8e2d4;
    }
/* end social icon */

@media only screen and (max-width: 1199px) {
    .flexslider h1 { font-size: 30px; }
    .flexslider h2 { font-size: 24px; }
}

/* start templatemo 768 media quires */
@media only screen and ( max-width: 768px ) {
    .navbar-default .navbar-brand { margin-left: 20px; }
    .navbar-default .navbar-nav { margin: 0; }
    .navbar-default .navbar-collapse
    {
        padding-left: 20px;
        padding-right: 20px;
    }
    .flexslider h1 { font-size: 26px; }
    .flexslider h2 { font-size: 18px; }
    .templatemo-slider-btn { 
        margin-top: 10px; 
        width: 180px;
        height: 40px;
        padding-top: 8px;
    }
}
/* end templatemo 768 media quires */

/* start templatemo 600 media quires */
@media only screen and ( max-width: 640px ) {   
    .flexslider h1 { font-size: 20px; }
    .flexslider h2 { font-size: 14px; }
    .templatemo-slider-btn {
        width: auto;
        height: auto;
        padding: 10px 20px;
        margin-top: 10px; 
    }
}
/* end templatemo 600 media quires */

/* start templatemo 360 media quires */
@media only screen and ( max-width: 360px ) {
    #team .col-md-4
        {
            padding-top: 40px;
        }
    
}
/* end templatemo 360 media quires */
