<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <colliders red="185" green="184" blue="183"/>

  </map>

  <scene>
    <map_name path="Map2x.tmx"/>
  </scene>

  <entities>

    <player>
      <folder1>Animations/player.tmx</folder1>
      <folder2>Animations/player.tmx</folder2>
      <folder3>Animations/player.tmx</folder3>
      <folder4>Animations/player.tmx</folder4>
      <texture1>textures/Wendolin Red Sprite 3x.png</texture1>
      <texture2>textures/Wendolin Red Sprite 3x.png</texture2>
      <texture3>textures/Wendolin Red Sprite 3x.png</texture3>
      <texture4>textures/Wendolin Red Sprite 3x.png</texture4>
      <collider x="0" y="0" width="70" height="30"/>
      
      <AnimationRangeRight range_start="-22.5f" range_end="22.5f" />
      <AnimationRangeLeft range_start="157.5f" range_end="180.0f" />
      <AnimationRangeLeft2 range_start="-157.5f" range_end="-180.0f" />
      <AnimationRangeUp range_start="-112.5f" range_end="-67.5f" />
      <AnimationRangeUpright range_start="-67.5f" range_end="-22.5f" />
      <AnimationRangeUpleft range_start="-157.5" range_end="-112.5f" />
      <AnimationRangeDown range_start="67.5f" range_end="112.5f" />
      <AnimationRangeDownright range_start="22.5f" range_end=" 67.5f" />
      <AnimationRangeDownleft range_start="112.5f" range_end="157.5f" />

    </player>

  </entities>
  
  <particles>
  
	<emitter>
	
	<angle value="90.0f", variation="0.0f" />
	<speed value="0.0f", variation="0.0f" />
	<position x="0.0f", y="0.0f" />
	<lifetime value="100.0f", variation="0.0f" >
	<initiialScale value="1.0f", variation="0.0f" />
	<finalScale value="1.0f", variation="0.0f" />
	<initialColor r="255", g="255", b="255", alpha="255" />
	<finalColor r="255", g="255", b="255", alpha="255" />
	<blendMode value="0" />
	<texturePath>textures/Wendolin Red Dagger.png</texturePath>
	<spin initialValue="0.0f", finalValue="0.0f", variation="0.0f" />
	<drawingOrder value="1" />
	<gravity value="true" />
	
	<frequency value="10.0f" />
	<maxEmissions value="1000" />
	<type value="0" />
	
	</emitter>
	
</particles>

</config>