<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
    <colliders red="423" green="422" blue="421"/>

  </map>

  <scene>
    <map_name path="Map2x_automap.tmx"/>
  </scene>

  <entities>

    <player>
      <folder1>Animations/player.tmx</folder1>
      <folder2>Animations/player.tmx</folder2>
      <folder3>Animations/player.tmx</folder3>
      <folder4>Animations/player.tmx</folder4>
      <texture1>textures/Wendolin Red Sprite 3x.png</texture1>
      <texture2>textures/Wendolin Red Sprite 3x.png</texture2>
      <texture3>textures/Wendolin Red Sprite 3x.png</texture3>
      <texture4>textures/Wendolin Red Sprite 3x.png</texture4>
      <collider x="0" y="0" width="70" height="30"/>
      
      <AnimationRangeRight range_start="-22.5f" range_end="22.5f" />
      <AnimationRangeLeft range_start="157.5f" range_end="180.0f" />
      <AnimationRangeLeft2 range_start="-157.5f" range_end="-180.0f" />
      <AnimationRangeUp range_start="-112.5f" range_end="-67.5f" />
      <AnimationRangeUpright range_start="-67.5f" range_end="-22.5f" />
      <AnimationRangeUpleft range_start="-157.5" range_end="-112.5f" />
      <AnimationRangeDown range_start="67.5f" range_end="112.5f" />
      <AnimationRangeDownright range_start="22.5f" range_end=" 67.5f" />
      <AnimationRangeDownleft range_start="112.5f" range_end="157.5f" />

    </player>

  </entities>
  
  <arena_interactions>

    <storm_phase w_time="7" move_time="3"/>
    <storm_phase w_time="5" move_time="5"/>
    <storm_phase w_time="3" move_time="3"/>
  </arena_interactions>

</config>