<!-- Config file for the game -->

<config>
  <app framerate_cap="60">
    <title>Game Development Testbed</title>
    <organization>UPC</organization>
  </app>
	
  <renderer>
    <vsync value="false"/>
  </renderer>

  <window>
    <resolution width="1024" height="768" scale="1"/>
    <fullscreen value="false"/>
    <borderless value="false"/>
    <resizable value="false"/>
    <fullscreen_window value="false"/>
  </window>

  <file_system>
    <path>data.zip</path>
  </file_system>

  <map>
    <folder>maps/</folder>
  </map>

  <scene>
    <map_name path="iso_walk.tmx"/>
    <map_name path="iso.tmx"/>
  </scene>

  <entities>

    <player>
      <folder>animation/player.tmx</folder>
      <texture>textures/spritesheet.png</texture>
      <collider x="0" y="0" width="24" height="24"/>
    </player>

  </entities>

</config>